{% load static %}

{% block content %}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" charset="utf-8">
    <title>MedAskBot</title>

    <link rel="stylesheet" href="{% static 'app/style/botui.min.css' %}" />
    <link rel="stylesheet" href="{% static 'app/style/botui-theme-default.css' %}" />
	<link rel="stylesheet" href="{% static 'app/style/botui.custom.css' %}" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body style="background:#0e1621;">

    <script src="https://cdn.jsdelivr.net/vue/latest/vue.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <style>

    </style>

    <div class="container-fluid d-flex h-100 flex-column" id="area">
        <div class="botui-app-container" id="botContainer">
            <bot-ui id="botArea"></bot-ui>
        </div>
    </div>

    <script src="{% static 'app/scripts/SpeechKITT.js' %}"></script>
    <script src="{% static 'app/scripts/bot/botui.js' %}"></script>
    <script src="{% static 'app/scripts/bot/bot.js'%}"></script>
    
    <script>
        initSpeechKITT("{% static 'app/style/SpeechKITT.css' %}");
        document.addEventListener('keydown', event => {
            sendRequest( event.keyCode );
        } );
    </script>
  </body>
</html>

{% endblock %}
