{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'app/style/recipe.css' %}"/>

<div id="openModal" class="modalDialog">
    <div>
        <a href="#close" title="Закрыть" class="close">X</a>
        <h2>Модальное окно</h2>
        <p>Пример простого модального окна, которое может быть создано с использованием CSS3.</p>
        <p>Его можно использовать в широком диапазоне, начиная от вывода сообщений и заканчивая формой регистрации.</p>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <!--<p><b>Дата                      :</b> {{date}}</p>-->
            <p><b>Ф.И.О. пациента           :</b> {{patient}} </p>
            <p><b>Дата рождения             :</b> {{birthdate}}</p>
            <!--<p><b>СНИЛС                     :</b> {{snils}}</p>-->
            <!--<p><b>Ф.И.О. врача              :</b> {{doctor}}</p>-->
            <p><b>Код нозологической формы  :</b> {{diagnosis}}</p>
            <p><b>Rp                        :</b> {{rp}}             </p>
            <p><b>D.t.d.                    :</b> {{dtd}}</p>
            <p><b>Дозировка                 :</b> {{dosen}}             </p>
            <p><b>Signa                     :</b> {{signa}}</p>
        </div>
    </div>

    <div class="row">
        <div class="col-4">
            <a href="#openModal">
                <img id="messageBtn" src="{% static 'app/icons/find_24dp.png' %}"/>
            </a>
        </div>
        <div class="col-4">
            <button id="messageBtn">
                <img src="{% static 'app/icons/print_24dp.png' %}"/>
            </button>
        </div>
        <div class="col-4">
            <button id="messageBtn">
                <img src="{% static 'app/icons/download_24dp.png' %}"/>
            </button>
        </div>
    </div>

</div>

{% endblock %}
