{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'app/style/baseMessage.css' %}"/>

<div class="container">
    <div class="row">
        <div class="col">
            <p>
                подготовь рецепт для <font color="green"><u>петрова николая владимировича</u></font> 
                <font color="orange"><u>восемьдесят девятого</u></font> года рождения
                назначь <font color="red"><u>30 таблеток изопринозина</u></font> по <font color="red"><u>500 миллиграмм</u></font>
                принимать <font color="blue"><u>внутрь по одной таблетке утром</u></font>
                рецепт действителен <font color="black"><u>1 месяц</u></font>
            </p>
        </div>
    </div>
</div>

{% endblock %}